<h1>City List</h1>

<button mat-raised-button color="primary" (click)="addCity()" class="btn bnt-sm btn-info">Add City</button>
<p *ngIf="!cities"><em>Loading...</em></p>

<table class='table table-striped table-bordered' *ngIf="cities">
  <thead>
    <tr>
      <th hidden>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th width="15%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities">
      <td hidden>{{city.id}}</td>
      <td>{{ city.name }}</td>
      <td>{{ city.description }}</td>
      <td width="15%">
        <button class="btn btn-sm btn-info" (click)="getCityById(city.id)">Edit</button>
        <button class="btn btn-sm btn-danger" (click)="deleteCity(city.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
